src/main/resources/xml/schema/xprocspec.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <start>
        <ref name="description"/>
    </start>

    <define name="description">
        <element name="description" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve">The `description` element is the root element of an xprocspec test and describes the functionality of a specific XProc script.</a:documentation>
            <ref name="description.common"/>
            <choice>
                <group>
                    <zeroOrMore>
                        <ref name="import"/>
                    </zeroOrMore>
                    <oneOrMore>
                        <ref name="scenario"/>
                    </oneOrMore>
                </group>
                <group>
                    <oneOrMore>
                        <ref name="import"/>
                    </oneOrMore>
                    <zeroOrMore>
                        <ref name="scenario"/>
                    </zeroOrMore>
                </group>
            </choice>
        </element>
    </define>

    <define name="description.common">
        <ref name="common-attributes"/>
        <attribute name="script">
            <a:documentation>The `script` attribute is a URI that points to the XProc script you want to test.</a:documentation>
            <data type="anyURI"/>
        </attribute>
        <optional>
            <attribute name="version">
                <a:documentation>The `version` attribute can be used to aid development over time.</a:documentation>
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
        <optional>
            <ref name="pending"/>
        </optional>
    </define>

    <define name="common-attributes">
        <zeroOrMore>
            <attribute>
                <nsName ns="http://www.w3.org/XML/1998/namespace"/>
            </attribute>
        </zeroOrMore>
    </define>

    <define name="pending">
        <element name="pending" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve">
                Anything that is within a &lt;pending&gt; element will remain untested, but will be
                reported as (eventual) desired behaviour. This is a good way of commenting out
                a set of behaviours that haven't been implemented yet, or scenarios whose
                desired behaviour hasn't been determined, or tests for code that you're not
                currently working on, to make the testing process faster.
                
                An optional label attribute can be used to describe why the scenario or
                assertion should not be tested.
            </a:documentation>
            <ref name="common-attributes"/>
            <optional>
                <ref name="label"/>
            </optional>
            <choice>
                <oneOrMore>
                    <ref name="scenario"/>
                </oneOrMore>
                <oneOrMore>
                    <ref name="expect"/>
                </oneOrMore>
            </choice>
        </element>
    </define>

    <define name="import">
        <element name="import" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve">
                An import brings in all the scenarios from the referenced file (which must
                itself be an xprocspec description). All the unshared scenarios in that imported
                xprocspec will be run on the stylesheet that this xprocspec document describes.
                Importing is recursive and may be circular (although only one copy of a given
                imported document will actually be imported).
            </a:documentation>
            <ref name="common-attributes"/>
            <attribute name="href">
                <data type="anyURI"/>
            </attribute>
        </element>
    </define>

    <define name="scenario">
        <element name="scenario" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve">
                A step scenario is one based on a call to a pipeline. The &lt;call&gt;
                element defines the step call and the inputs, options and parameters passed to it and the
                &lt;assertion&gt; elements test the ports of the pipeline. Child scenarios
                can override the ports, options and parameters in the template call.
            </a:documentation>
            <ref name="scenario.common"/>
            <ref name="label"/>
            <zeroOrMore>
                <ref name="like"/>
            </zeroOrMore>
            <choice>
                <oneOrMore>
                    <ref name="scenario"/>
                </oneOrMore>
                <oneOrMore>
                    <ref name="context"/>
                    <oneOrMore>
                        <ref name="expect"/>
                    </oneOrMore>
                </oneOrMore>
            </choice>
        </element>
    </define>

    <define name="scenario.common">
        <ref name="common-attributes"/>
        <ref name="call"/>
    </define>

    <define name="label">
        <choice>
            <a:documentation xml:space="preserve">
                A scenario's label should describe the context that the scenario sets. Top-
                level scenarios' labels should be of the form "the square of a number" or 
                "the XHTML for a &lt;P1&gt; element". Nested scenario labels will usually start with 
                the word "with"; it should make sense if the labels of ancestor scenarios are 
                concatenated with this one. For example "with a Type attribute".
            </a:documentation>
            <attribute name="label"/>
            <element name="label" ns="http://www.daisy.org/ns/pipeline/xproc/test">
                <ref name="common-attributes"/>
                <ref name="any-content"/>
            </element>
        </choice>
    </define>

    <define name="context">
        <element name="context" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation>Defines the context against which assertions</a:documentation>
            <ref name="common-attributes"/>
            <optional>
                <ref name="label"/>
            </optional>
            <oneOrMore>
                <ref name="document"/>
            </oneOrMore>
        </element>
    </define>

    <define name="expect">
        <element name="expect" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                Defines what is expected from the context document(s).
                The types of expectations are as follows:</p>
                <dl>
                  <dt>XPath assertion:</dt>
                  <dd>The `test` attribute can be used to perform XPath tests
                  against each of the input documents. The XPath expression
                  is evaluated once against each document in the context.
                  The test succeeds if the XPath expression does not fail
                  when evaluated against any of the context documents.</dd>
                  <dt>Document comparison:</dt>
                  <dd>If no `test` attribute is present, then the sequence of
                  documents in the context will be compared to the sequence
                  of documents defined by the `document` elements inside the
                  `expect` element. The `document` element can be used to
                  refer to ports (both inputs and outputs), directory
                  listings (recursive and non-recursive) and file contents
                  (`xml`, `html`, `text`, `binary`).
                  <!-- TODO: possibly also information about a file or directory (size, readable, writable, hidden, last-modified) ? -->
                  </dd>
                </dl>
            </a:documentation>
            <ref name="common-attributes"/>
            <ref name="label"/>
            <choice>
                <group>
                    <!-- XPath assertion -->
                    <attribute name="type">
                        <value>xpath</value>
                    </attribute>
                    <attribute name="test"/>
                </group>
                <group>
                    <!-- Document comparison -->
                    <attribute name="type">
                        <value>compare</value>
                    </attribute>
                    <zeroOrMore>
                        <ref name="document"/>
                    </zeroOrMore>
                </group>
                <group>
                    <!-- Document validation -->
                    <attribute name="type">
                        <a:documentation>Validates the context document(s).</a:documentation>
                        <value>validate</value>
                    </attribute>
                    <attribute name="grammar">
                        <choice>
                            <value>relax-ng</value>
                            <value>schematron</value>
                            <value>xml-schema</value>
                        </choice>
                    </attribute>
                </group>
            </choice>
        </element>
    </define>

    <define name="call.common">
        <ref name="common-attributes"/>
        <zeroOrMore>
            <choice>
                <ref name="option"/>
                <ref name="param"/>
                <ref name="input"/>
            </choice>
        </zeroOrMore>
    </define>

    <define name="call">
        <element name="call" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve">
                A &lt;call&gt; element defines a step call and the
                inputs, options and parameters passed to it.
            </a:documentation>
            <ref name="call.common"/>
            <optional>
                <attribute name="step">
                    <data type="QName"/>
                </attribute>
            </optional>
        </element>
    </define>

    <define name="option">
        <element name="option" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <ref name="common-attributes"/>
            <attribute name="name">
                <data type="QName"/>
            </attribute>
            <attribute name="select"/>
            <optional>
                <attribute name="base-uri">
                    <choice>
                        <value>temp-dir</value>
                    </choice>
                </attribute>
            </optional>
        </element>
    </define>

    <define name="param">
        <element name="param" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <ref name="common-attributes"/>
            <attribute name="name">
                <data type="QName"/>
            </attribute>
            <attribute name="select"/>
            <optional>
                <attribute name="base-uri">
                    <choice>
                        <value>temp-dir</value>
                    </choice>
                </attribute>
            </optional>
        </element>
    </define>

    <define name="input">
        <element name="input" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <ref name="common-attributes"/>
            <zeroOrMore>
                <ref name="document"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="like">
        <element name="like" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xml:space="preserve">
                The &lt;like&gt; element pulls a shared scenario into this one (which may be shared
                or unshared). Any environment set within the shared scenario is merged with
                this one, and any tests in the shared scenario are run in addition to the
                ones in this scenario. This allows for modular, reusable sets of tests which
                can be applied in multiple contexts.
            </a:documentation>
            <ref name="common-attributes"/>
            <ref name="label"/>
        </element>
    </define>

    <define name="document">
        <element name="document" ns="http://www.daisy.org/ns/pipeline/xproc/test">
            <a:documentation xmlns="http://www.w3.org/1999/xhtml">
                <p>The `document` element is used to define which documents are provided on a steps input
                   ports, what the context is when making assertions, and for assertions when making
                   comparisons. It can be used in a number of ways:</p>
                <dl>
                    <dt>Inline:</dt>
                    <dd>If none of the `port`, `file` or `directory` attributes are provided, then the
                        `document` element is replaced by its content. You can provide any number of
                        elements inside the `document` element. You can explicitly specify a `xml:base`
                        attribute on the `document` element if you want to set the base URI of the inline
                        document(s). If the `xml:base` is a relative URI, it will be resolved against the
                        base URI of the xprocspec test document, or if the `base-uri` attribute is provided
                        with the value `temp-dir`, then the `xml:base` attribute will be resolved against
                        the temporary directory used for the test.</dd>
                    <dt>Port:</dt>
                    <dd>If the `port` attribute is provided, then the `document` element will be replaced
                        with the documents on that port. The `position` attribute can be used to select
                        only part of the sequence of documents appearing on that port.</dd>
                    <dt>File:</dt>
                    <dd>If the `file` attribute is provided, then the `document` element will be replaced
                        by the contents of the file located at the location pointed to by the `file`
                        attribute. The default method for reading files is `xml`, but using the `method`
                        attribute you can also choose `html`, `text` and `binary` as methods
                        for loading the file. The `file` URI is by default resolved against the base URI
                        of the xprocspec test document. However, if you provide the `base-uri` attribute
                        with a value of `temp-dir`, then the `file` URI will be resolved against the
                        temporary directory used for the test instead.</dd>
                    <dt>Directory:</dt>
                    <dd>If the `directory` attribute is provided, then the `document` element will be
                        replaced with a directory listing of the directory pointed to by the `directory`
                        attribute. By default, the result is the same as invoking the standard XProc step
                        p:directory-list. If you specify the `recursive` attribute and give it
                        the value `true`, you will get a recursive directory listing, listing
                        all subfolders and their contents as well. The `directory` URI is by default
                        resolved against the base URI of the xprocspec test document. However, if you
                        provide the `base-uri` attribute with a value of `temp-dir`, then the `directory`
                        URI will be resolved against the temporary directory used for the test instead.</dd>
                </dl>
            </a:documentation>
            <ref name="common-attributes"/>
            <choice>
                <group>
                    <!-- inline document -->
                    <attribute name="type">
                        <value>inline</value>
                    </attribute>
                    <ref name="any-element"/>
                </group>
                <group>
                    <!-- port (input or output) -->
                    <attribute name="type">
                        <value>port</value>
                    </attribute>
                    <attribute name="port">
                        <data type="QName"/>
                    </attribute>
                    <optional>
                        <attribute name="position">
                            <choice>
                                <value>all</value>
                                <value>last</value>
                                <data type="integer"/>
                            </choice>
                        </attribute>
                    </optional>
                </group>
                <group>
                    <!-- file -->
                    <attribute name="type">
                        <value>file</value>
                    </attribute>
                    <attribute name="href">
                        <data type="anyURI"/>
                    </attribute>
                    <optional>
                        <attribute name="method">
                            <choice>
                                <value>xml</value>
                                <value>html</value>
                                <value>text</value>
                                <value>binary</value>
                            </choice>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="base-uri">
                            <choice>
                                <value>temp-dir</value>
                            </choice>
                        </attribute>
                    </optional>
                </group>
                <group>
                    <!-- directory -->
                    <attribute name="type">
                        <value>directory</value>
                    </attribute>
                    <attribute name="href">
                        <data type="anyURI"/>
                    </attribute>
                    <optional>
                        <attribute name="recursive">
                            <data type="boolean"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="base-uri">
                            <choice>
                                <value>temp-dir</value>
                            </choice>
                        </attribute>
                    </optional>
                </group>
                <group>
                    <!-- errors -->
                    <attribute name="type">
                        <a:documentation>If an error occurs during step execution, the error(s) generated is available by `c:errors` document is available</a:documentation>
                        <value>errors</value>
                    </attribute>
                    <attribute name="errors">
                        <value><![CDATA[]]></value>
                    </attribute>
                </group>
            </choice>
        </element>
    </define>

    <define name="any-content">
        <interleave>
            <zeroOrMore>
                <ref name="any-element"/>
            </zeroOrMore>
            <text/>
        </interleave>
    </define>

    <define name="any-element">
        <element>
            <anyName/>
            <ref name="any-attribute"/>
            <zeroOrMore>
                <ref name="any-content"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="any-attribute">
        <zeroOrMore>
            <attribute>
                <anyName/>
            </attribute>
        </zeroOrMore>
    </define>

</grammar>
